<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Chapelboro DSA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>
  <body>
    <nav>
      <h1>Chapelboro DSA</h1>
      <ul>
	{% if g.user %}
	<li><span>{{ g.user['username']}}</span><li>
	<li><a href="{{ url_for('auth.logout') }}">log out</a></li>
	{% else %}
	<li><a href="{{ url_for('auth.register') }}">register</a></li>
	<li><a href="{{ url_for('auth.login') }}">log in</a></li>
	{% endif %}
	<li><a href="{{ url_for('website.index') }}">home</a></li>
	<li><a href="{{ url_for('website.about') }}"></a></li>
	<li><a href="https://www.dsausa.org">DSA National Homepage</a>
      </ul>
    </nav>
    <section class="content">
      <header>
	{% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
